li {
    margin-bottom: 10px;
}

li button {
    font-size: 12px;
    margin-left: 20px;
    color: #c70f0f;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




